In [1]:
import pandas as pd

In [2]:
# Data on the first four elements of the periodic table:
elements_data = {
    'Element' : ['H', 'He', 'Li', 'Be'],
    'Atomic Number' : [ 1, 2, 3, 4 ],
    'Mass' : [ 1.008, 4.002, 6.940, 9.012],
    'Electronegativity' : [ 2.20, 0.0, 0.98, 1.57 ]
}

# construct dataframe from data dictionary:
df = pd.DataFrame(elements_data)

In [4]:
display(df)

  Element  Atomic Number   Mass  Electronegativity
0       H              1  1.008               2.20
1      He              2  4.002               0.00
2      Li              3  6.940               0.98
3      Be              4  9.012               1.57

In [8]:
df[ ['Element', 'Atomic Number'] ]

  Element  Atomic Number
0       H              1
1      He              2
2      Li              3
3      Be              4

In [10]:
df.iloc[:,1]

0    1
1    2
2    3
3    4
Name: Atomic Number, dtype: int64